/* ワイド画面でのmenubarの画像を表示させなくする */
#top__mutsume{
    display: none;
}
.detail__top{
    display: none;
}

@media  screen and (max-width: 767px) {
    #top__mutsume{
        display: block;
    }
    .detail__top{
        display: block;
    }
    #top__mutsume .top{
        color: white;
    }
    #top__mutsume .top__top{
        border-color: gray;
    }

    .openbtn{
        position: fixed;
        width: 57px;
        height: 57px;
        top: 2px;
        right: 0;
        cursor: pointer;
        background-color: white;
        box-shadow: 0 0 6px rgba(0,0,0,.2);
        z-index: 80;
    }
    
    /*ボタン内側*/
    .openbtn span{
        display: block;
        transition: all .5s;/*アニメーションの設定*/
        position: absolute;
        left: 15.675px;
        width: 45%;
        height: 1px;
        background: rgb(89, 118, 185);
    }
    .openbtn span:nth-of-type(1) {
        top:18px;	
    }
    .openbtn span:nth-of-type(2) {
        top:27px;
    }
    .openbtn span:nth-of-type(3) {
        top:36px;
    }
    
    .openbtn.active{
        box-shadow: none;
        background-color: inherit;
    }
    .openbtn.active span{
        left: 14.25px;
        width: 50%;
        background: white;
    }
    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        transform: translateY(6px) rotate(-45deg);
    }
    .openbtn.active span:nth-of-type(2) {
        opacity: 0;/*真ん中の線は透過*/
    }
    .openbtn.active span:nth-of-type(3){
        top: 30px;
        transform: translateY(-6px) rotate(45deg);
    }
    
    .detail__list__top{
        position:fixed;
        display: block;
        z-index: 79;
        top:0;
        right: -100%;
        width: auto;
        height: 100vh;
        padding: 5% 10%;
        background-color: rgb(136, 201, 161);
        transition: all 0.6s;
    }
    .detail__list__top.active{
        right: 0;
    }
    
    .detail__list__top ul {
        position: absolute;
        z-index: 901;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .detail__list__top li{
        list-style: none;
        text-align: center;
    }
    .detail__list__top li a{
        color: #333;
        text-decoration: none;
        padding:10px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }   
}