@charset "UTF-8";
@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSansJP-Regular.otf') format('opentype');
}
html{
    font-family: "Yu Gothic", "YuGothic",'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    max-width: 900px;
}
body {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
}
section{
    display: block;
    padding-left: 6%;
    padding-right: 6%;
}
div{
    display: block;
}
h1, h2, h3{
    display: block;
    letter-spacing: .05em;
}
p{
    line-height: 2em;
    letter-spacing: .05rem;
}
a{
    display: block;
    text-decoration: none;
    line-height: 1.618em;
}
ul, li{
    display: block;
    list-style-type: circle;
}
img{
    display: block;
}
dd{
    line-height: 2em;
    padding-left: 30px;
}

.center{
    text-align: center;
}
.picture{
    margin: 0 auto 30px;
    width: 80%;
}
.picture__full{
    width: 100%;
}
.span{
    margin: 30px auto;
    height: 10vh;
    width: 2px;
    border-radius: 2px;
    background-color: rgb(136, 201, 161);
}
small{
    display: block;
    text-align: right;
}
.link__button__1{
    position: absolute;
    right: 0;
    display: flex;
    width: 10em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 8px;
    padding-left: .5em;
    margin-top: 15px;
    margin-bottom: 2em;
}
.link__button__1::before{
    content: "";
    position: absolute;
    border-bottom: solid 1px rgb(136, 201, 161);
    bottom: 0px;
    right: 0px;
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    width: 100%;
    height: 1px;
}
.link__button__1::after{
    content: '';
    background-image: url(/images/icon_Arrow.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 21px 5px;
    display: block;
    width: 21px;
    height: 5px;
    z-index: 10000;

}
.link__button__2{
    display: block;
    width: 17em;
    margin: 10px auto 20px;
    padding: .6em 0;
    color: #fff;
    border-radius: 1.5px;
    background-color: rgb(87, 158, 215);
    text-align: center;
    font-family: serif;
}
.link__button__3{
    display: block;
    width: 17em;
    margin: 10px auto 20px;
    padding: .6em 0;
    color: #fff;
    border-radius: 6px;
    background-color: rgb(87, 158, 215);
    text-align: center;
    font-family: serif;
}

/*header*/
header{
    position: relative;
    border-top: 2px solid rgb(136, 201, 161);
}
.top{
    display: flex;
    margin: 0 auto;
    padding: calc(3em + 37px) 0 37px;
    width: 224px;
    justify-content: space-between;
    color: rgb(89, 118, 185);
    font-family: serif;
    z-index: 74;
}
.top__img{
    height: 57px;
    margin-right: 7px;
}
.top__top{
    font-size: 36px;
    text-align: center;
    border-bottom: solid 1px rgb(136, 201, 161);
}
.top__sub{
    font-size: 17px;
    text-align: center;
}
.detail__list__top{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    justify-content: right;
    width: 100%;
    background-color: white;
    border-bottom: solid 2px rgb(136, 201, 161);
    z-index: 73;
}
.lists{
    font-size: 1em;
    margin-right: .6em;
    padding-right: .6em;
    border-right: solid 1px #bdbebe;
}
.lists__last{
    font-size: 1em;
    margin-right: .6em;
    padding-right: .6em;
}
.front__img{
    margin: 0 auto;
    margin-top: 5em;
    padding-bottom: 30px;
    width: 60%;
}
.to__top{
    position: fixed;
    background-image: url(/images/icon-back.png);
    right: 8px;
    bottom: 8px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    z-index: 1000000;
    background-size: 40px 40px;
}

/*top*/
.news{
    margin-bottom: 6.25rem;
}
.news__ttl{
    margin-bottom: .7em;
    padding-bottom: .3em;
    font-size: 1.6em;
    color: rgb(136, 201, 161);
    border-bottom: solid 1px rgb(136, 201, 161)
}
.news__list>li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.news__time{
    font-size: 12px;
}
.link__page{
    color: blue;
}
.info__ttl{
    margin-bottom: 30px;
    padding-left: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    font-family: serif;
    font-size: 1.3em;
    color: rgb(89, 118, 185);
    border-left: solid 1.5px rgb(87, 158, 215);
}
.info__img{
    max-width: 750px;
    width:94%;
    margin:0 auto;
    padding-bottom: 30px;
}
.marker{
    background-color: #929090;
    color: #ffffff;
}
.marker__notice{
    background-color: rgb(136, 201, 161);
    color: #ffffff;
}

.kyosan__box{
    position: relative;
    margin: 0rem auto 3rem;
    width: 90%;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    z-index: 11;
}
.kyosan__ttl{
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    color: rgb(87, 158, 215);
    font-size: 1.618em;
    font-weight: 300;
    letter-spacing: .1em;
}
.kyosan__ttl::after{
    content: '';
    display: block;
    height: 1.5px;
    width: 3em;
    background: rgb(136, 201, 161);
    margin: 2rem auto 2.5rem;
}
.kyosan__content{
    margin: 0 auto;
    padding: 5px 5px 30px;
    width: 85%;
}
.kyosan__wrap{
    position: relative;
}
.mid__ttl{
    margin: 0 auto;
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    color: rgb(89, 118, 185);
    border-bottom: solid 1px #bdbebe;
}
.kyosan__img{
    margin: 5px 20px 30px;
}

.student{
    margin: 0 auto;
    padding-bottom: 100px;
    width: 90%;
}
.student::after{
    content:'';
    bottom: 0;
    left: calc(50% - 1px);
    height: 30px;
    width: 2px;
    background-color: rgb(136, 201, 161);
}
.student__ttl{
    margin: 0 auto 30px;
    width: 7em;
    color: rgb(87, 158, 215);
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .1em;
}
.student__wrap{
    position: relative;
    border: solid 1px #bdbebe;
    box-shadow: 5px 5px rgb(136, 201, 161);
}
.student__content{
    margin-left: 15px;
    margin-right: 15px;
}
.student__content p{
    padding: 10px 0 14px;
    font-size: .8em;
}
.student__img{
    padding-bottom: 20px;
}
.song__ttl{
    margin: 0 auto 30px;
    width: 8em;
    color: rgb(87, 158, 215);
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .1em;
}

.contact__ttl{
    position: relative;
    font-size: 1.6em;
    margin-bottom: 30px;
    padding-left: 2em;
    font-weight: 300;
}
.contact__ttl::before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -2em;
    width: calc(1.6em * 2);
    height: 2px;
    background-color: #bdbebe;
}
.address{
    margin: 0 auto;
    padding-top: 20px;
}
.address__ttl{
    margin-bottom: 15px;
    padding-left: 1em;
    font-size: 1.33rem;
    font-weight: 300;
    border-left: solid 1.5px rgb(136, 201, 161);
}
.address__content{
   padding-bottom: 20px; 
}

/*detail.html*/
.detail__img{
    margin: 4px auto; /* 中心にする */
    height: 49px;
}
.kyosan__page section{
    margin: 0 auto;
}
.detail__ttl{
    position: relative;
    display: block;
    margin: auto;
    margin-top: min(6vw, 60px);
    text-align: center;
    background-image: url(/images/header_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* 画像サイズをレスポンシブに */
    width: min(100vw, 960px);
    height: min(calc(100vw * 0.22), 210px);
}
.detail__ttl__text{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - min(calc(4vw), 44px) / 2);
    font-size: min(calc(4vw), 44px);
    font-weight: 400;
    letter-spacing: .1em;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
}
.kyosan__page{
    margin-bottom: 100px;
}
.page__top{
    height: 100px;
}
.page__top h3{
    padding-top: calc(50px - .8em);
    text-align: center;
    color: rgb(87, 158, 215);
    font-size: 1.6em;
    font-weight: 500;
}
.page__top h3::after{
    content: '';
    display: block;
    height: 1.5px;
    width: 3em;
    background: rgb(136, 201, 161);
    margin: 2rem auto 2.5rem;
}
.warning{
    margin: 30px 8%;
    padding: 1em;
    font-size: .8em;
    border: solid 2px #cc3328;
    border-radius: 10px;
}
.section__ttl{
    margin-bottom: 30px;
    padding-left: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    font-family: serif;
    font-size: 1.6em;
    color: rgb(89, 118, 185);
    border-left: solid 1.5px rgb(87, 158, 215);
}
.section__content{
    position: relative;
    margin: 0 0px 30px;
    padding: 0px 6% 30px 
}
.section__content::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: -1em;
    width: 60%;
    height: .7px;
    background-color: rgb(136, 201, 161);
}
.inner__ttl{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: .6em;
    font-size: 1.3em;
    color: rgb(89, 118, 185);
    border-bottom: solid 2px #bdbebe;
}
.sponsor__ways{
    padding-bottom: 1em;
}
.sponsor__info{
    padding-bottom: 1em;
}
.inner__ttl::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 3em;
    height: 2px;
    background-color: rgb(87, 158, 215);
}
.section__content::after{
    content: '';
    position: absolute;
    bottom: -1em;
    right: 0;
    width: 1px;
    height: 40%;
    background-color: rgb(136, 201, 161);
}
.kyosan__adress{
    padding-top: 30px;
}
.kyosan__adress dd{
    margin-top: 1em;
    margin-bottom: 2em;
    border-left: 1px solid rgb(116, 198, 190);
}
.kyosan__adress iframe{
    aspect-ratio: 16/9;
    max-width: 514px;
    width: 60vw;

}

/*theme_song.html内*/
.due__date{
    margin: 0.6em auto;
    border-bottom: solid 1px rgb(136, 201, 161);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.attention__list li{
    font-size: 1.2em;
    color: #808080;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 400;
}

footer{
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-bottom: 30px;
}
.detail__list__bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px;
    justify-content: center;
}
.lists__bottom{
    margin-right: .6em;
    padding-right: .6em;
    font-size: .9em;
    border-right: solid 1px #bdbebe;
    align-items: center;
}
.lists__last__bottom{
    margin-right: .6em;
    padding-right: .6em;
    font-size: .9em;;
    align-items: center;
}
.footer__top{
    border-bottom: solid 2px white;
}
.footer__logo{
    height: 70px;
    margin: 0 auto 10px;
}
.footer__ttl{
    text-align: center;
    font-family: serif;
}
.sns__icon{
    display: flex;
    margin: 30px auto 0px;
    grid-template-columns: 4vw 4vw;
    grid-gap: 5vw;
    justify-content: center;
}
.sns__logo{
    width: 30px;
}

.ticket {
    padding: 5% 3%;
    padding-top: 10%;
}
.ticket_in {
    text-align: center;
}
.ticket_in .box {
    margin:2em 0 3em;
}
.ticket_in .box h3 {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: .1em;
    text-indent: .1em;
    background: rgb(87, 158, 215);
    color:#fff;
    width: 12em;
    margin: 0 auto .5em;
    border-radius: 5px;
    line-height: 2;
    margin-bottom: 1em
}
.ticket_in .box p {
    margin-bottom:1em;
    line-height: 1.6;
}
.ticket_in .box p:last-child {
    margin-bottom:0 !important;
}
.ticket_in .box.sche b {
    display:block;
    font-weight:500;
    font-size:1.05em;
}

.ticket_in .box .price {
    line-height:1;
    margin-top:.2em;
}
.ticket_in .box .price span {
    font-weight:700;
    font-size:2em;
    margin-right:.2em;
}

.ticket h3.midashi {
    font-size: 1.1em;
    background: rgb(87, 158, 215);
    color: #fff;
    font-weight: 500;
    line-height: 3;
    display:none;
}

.ticket .v2 {
    border: 1px solid rgb(87, 158, 215);
    margin: 1em 0 2em;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 3em;
}
.ticket .v2 h3.midashi {
    display: block;
    border-radius: 14px 14px 0 0;
    font-size: 1.2em;
}
.ticket .v2 .box {
    padding: 2em 0;
    border-bottom: 1px dashed #abd6dc;
    margin: 0 5%;}
.ticket .v2 .btn_wrap {
    margin: 2em auto 0;
    padding:0;
}
.ticket .v2 .box h3 {
    border: 1px solid rgb(87, 158, 215);
    background:#fff;
    color:rgb(87, 158, 215);
}
@media screen and (min-width:768px) {
    .ticket {padding: 70px 3% 20px;}
    .ticket .stream .box {padding: 1.9em;margin: 2em 0 3.5em;border: 2px dashed #00c9e6;}
    .ticket .stream .box h3 {margin-top: -3em;}

    .ticket .v2 {border: 2px solid #00c9e6;}
    .ticket .v2 h3.midashi {border-radius: 13px 13px 0 0;}
}
@media screen and (max-height:767px) and (max-width:380px) {
    .ticket_in .box.sche p {margin:0;}
    .ticket_in .box.sche b {display: inline-block;vertical-align: middle;}
    .ticket_in.v2 .box.sche p {margin-bottom:1em;}
    .ticket_in.v2 .box.sche b {display: block;}
    }
@media screen and (max-width:430px) {
    body {
        font-size:3.5vw;
    }
    h1{
        font-size: 5.0vw;
    }

    .kyosan__box{
        padding: 2.5rem 1rem
    }
    .kyosan__ttl::after{
        margin: 1rem auto 1.25rem;
    }
    .kyosan__img{
        margin: 5px 5px 20px;
    }
    .kyosan__content{
        width: 100%;
    }
}
@media screen and (max-width:767px){
    .news__list>li{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .marker{
        font-size: 10px;
        line-height: 1.3;
        padding: 2px;
        text-align: center;
        margin-left: 17px;
        width: 100px;
    }
    .news__txt{
        width: 100%;
        margin-top: 8px;
        font-size: 14px;
    }
}
@media screen and (max-width:540px) {
    .picture{
        width: 100%;
    }
    .student__img{
        width: 100%;
        margin: 0;
    }
    .student__content{
        padding: 0 20px 20px
    }
    .mid__ttl{
        width: 94%;
    }
    
}
@media screen and (min-width: 768px) {   
    .marker{
        font-size: 11px;
        line-height: 1.3;
        padding: 2px;
        text-align: center;
        margin: 0 30px;
        width: 120px;
    }
}