@charset "UTF-8";
html{
    font-family: "Yu Gothic", "YuGothic",'Kiwi Maru', sans-serif;
}
main{
    max-width: 960px;
    margin: auto;
    padding: 0 30px;
}
.noimage{
    margin-top: 100px;
}
body {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
}
h1, h2, h3{
    display: block;
}
p{
    line-height: 1.618em;
}
a{
    display: block;
    text-decoration: none;
}
ul, li{
    display: block;
}
img{
    display: block;
}

.center{
    text-align: center;
}

/*header*/
.top{
    position: fixed;
    top: 0;
    display: flex;
    width: 28vw;
    padding: .3em;
    justify-content: center;
    background-color: white;
    border-right:solid 1px rgb(136, 201, 161);
    border-bottom:solid 1px rgb(136, 201, 161);
    box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 30%);
    z-index: 74;
}
.top__img{
    height: 60px;
    margin-right: .4em;
}
.top__top{
    font-size: 1.6em;
    font-family: serif;
    border-bottom: solid 1px rgb(136, 201, 161);
}
.top__sub{
    font-size: .7em;
    font-family: serif;
}
.detail__list__top{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    justify-content: right;
    width: calc(100% - 28vw);
    background-color: white;
    border-bottom: solid 2px rgb(136, 201, 161);
    z-index: 74;
}
.lists{
    font-size: calc(.5em + .9vw);
    margin-right: .6em;
    padding-right: .6em;
    border-right: solid 1px #bdbebe;
}
.lists__last{
    font-size: calc(.5em + .9vw);
    margin-right: .6em;
    padding-right: .6em;
}
.front__img{
    margin: 0 auto;
    margin-top: calc(3em);
    padding-bottom: 30px;
    padding-bottom: 30px;
    width: 60%;
}

/*top*/
.news{
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.news__ttl__box{
    position: relative;
    width: 20%;
    border-right: solid 1px rgb(136, 201, 161);
}
.news__ttl{
    position: absolute;
    top: 0;
    right: .5em;
    font-size: 1.33em;
    font-weight: 400;
    color: rgb(136, 201, 161);
    letter-spacing: .1em;
}
.news__list{
    display: flex;
    flex-wrap: nowrap;
}

.kyosan{
    margin-bottom: 50px;
}
.kyosan__ttl{
    margin: 0 auto 30px;
    width: 6em;
    color: rgb(87, 158, 215);
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: .1em;
}
.kyosan__wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 20px 30px;
    border: solid 1px #bdbebe;
    box-shadow: 5px 5px rgb(136, 201, 161);
}
.kyosan__img{
    width: 50%;
    padding: 20px auto 20px;
}
.kyosan__content{
    width: 50%;
}
.link__button{
    padding-bottom: .6rem;
    text-align: center;
    border-bottom: solid 1px rgb(87, 158, 215);
}

.contact__ttl{
    font-size: 1.33em;
    
}

footer{
    background-color: #f5f5f5;
    margin-top: 30px;
}
.detail__list__bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    justify-content: center;
}
.lists__bottom{
    margin-right: .6em;
    padding-right: .6em;
    font-size: .9em;
    border-right: solid 1px #bdbebe;
    align-items: center;
}
.lists__last__bottom{
    margin-right: .6em;
    padding-right: .6em;
    font-size: .9em;;
    align-items: center;
}
.footer__logo{
    height: 70px;
    margin: 0 auto 30px;
}

/* ここからkyosan.html */

#introduction{
    margin-bottom: 50px;
}
#greeting{
    margin-bottom: 20px;
}
.ul__indent{
    margin-left: 2em;
}
.sponsor__ways{
    text-decoration: underline;
    text-decoration-color: rgb(87, 158, 215);
    font-size: large;
    padding-top: 3px;
}
.sponsor__info{
    margin-left: 1em;
}